<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Admin Functions</title>
</head>

<body>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-2 d-sm-none d-md-block"></div>
            <div class="pt-4 col-md-8 col-12 px-2">
                <a href="/logout">Logout</a>
                <h3>Admin Functions</h3>
                <hr>
                <div class="container-fluid">
                    <div class="row">
                        <div class="pt-4 col-md-4 col-12 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Create a Coach</h5>
                                    <hr>
                                    <p class="card-text">Creates a coach with a given username and password. The user
                                        can go back and update their profile once they've logged in.</p>
                                    <form method="POST" action="/coach/new">
                                        <div class="form-group">
                                            <label for="usernameInput">Coach Username</label>
                                            <input type="username" name="username" class="form-control"
                                                id="usernameInput" aria-describedby="emailHelp" placeholder="Username"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="passwordInput">Coach Password</label>
                                            <input type="text" name="password" class="form-control" id="passwordInput"
                                                placeholder="Password" required>
                                        </div>
                                        <button type="submit" class="mt-4 btn btn-success">Create Coach</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 col-md-4 col-12 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Create an Admin</h5>
                                    <hr>
                                    <p class="card-text">Creates an Administrator with a given username and password.
                                        The admin can go back and update their password.</p>
                                    <form method="POST" action="/admin/new">
                                        <div class="form-group">
                                            <label for="usernameInput">Admin Username</label>
                                            <input type="username" name="username" class="form-control"
                                                id="usernameInput" aria-describedby="emailHelp" placeholder="Username"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="passwordInput">Admin Password</label>
                                            <input type="text" name="password" class="form-control" id="passwordInput"
                                                placeholder="Password" required>
                                        </div>
                                        <button type="submit" class="mt-4 btn btn-success">Create Admin</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 col-md-4 col-12 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Delete a Coach</h5>
                                    <hr>
                                    <p class="card-text">Deletes a Coach with a given username, and <b>will also delete Health Scores assigned to this coach</b></p>
                                    <form method="POST" action="/coach/delete">
                                        <div class="form-group">
                                            <label for="usernameInput">Coach Username</label>
                                            <input type="username" name="username" class="form-control"
                                                id="usernameInput" aria-describedby="emailHelp" placeholder="Username"
                                                required>
                                        </div>
                                        <button type="submit" class="mt-4 btn btn-danger">Delete Coach</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 col-md-4 col-12 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Migrate Health Scores</h5>
                                    <hr>
                                    <p class="card-text">Migrates Health Scores from one Coach to another.</p>
                                    <form method="POST" action="/healthtracking/migrate">
                                        <div class="form-group">
                                            <label for="usernameInput">From</label>
                                            <input type="username" name="from" class="form-control"
                                                id="usernameInput" placeholder="Username"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="usernameInput">To</label>
                                            <input type="username" name="to" class="form-control"
                                                id="usernameInput" placeholder="Username"
                                                required>
                                        </div>
                                        <button type="submit" class="mt-4 btn btn-primary">Migrate</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 col-md-4 col-12 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Add Question</h5>
                                    <hr>
                                    <p class="card-text">Adds a new question to the Student Form</p>
                                    <form method="POST" action="/healthtracking/question">
                                        <div class="form-group">
                                            <label for="question">Question Label:</label>
                                            <input type="text" name="questionLabel" class="form-control"
                                                id="usernameInput" placeholder="Label"
                                                required>
                                        </div>
                                        <button type="submit" class="mt-4 btn btn-success">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 col-md-4 col-12 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Add Option</h5>
                                    <hr>
                                    <p class="card-text">Adds an option to the specified Question</p>
                                    <form method="POST" action="/healthtracking/option">
                                        <div class="form-group">
                                            <label>Question</label>
                                            <select class="form-control mb-4" name="selectedQuestion">
                                                <% questions.forEach(function(question){ %>
                                                    <option value='<%= question.id %>'>
                                                        <%= question.label %>
                                                    </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="question">Option Display Text:</label>
                                            <input type="text" name="optionDisplayText" class="form-control"
                                                id="usernameInput" placeholder="Label"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="question">Option Value:</label>
                                            <input type="number" name="optionValue" class="form-control"
                                                id="usernameInput" placeholder="Label"
                                                required>
                                        </div>
                                        <button type="submit" class="mt-4 btn btn-success">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 col-md-4 col-12 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Delete a question</h5>
                                    <hr>
                                    <p class="card-text">Adds an option to the specified Question</p>
                                    <form method="POST" action="/healthtracking/question/delete">
                                        <div class="form-group">
                                            <label>Question</label>
                                            <select class="form-control mb-4" name="selectedQuestion">
                                                <% questions.forEach(function(question){ %>
                                                    <option value='<%= question.id %>'>
                                                        <%= question.label %>
                                                    </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <button type="submit" class="mt-4 btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 d-sm-none d-md-block"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>